In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import pgeocode

print("Successful")

Successful

In [58]:
#pip install pgeocode

In [74]:
#pip install geopy

Requirement already satisfied: geopy in c:\users\thech\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\thech\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

print("Success")

Success

In [23]:
#Establish the URL from where youre pulling data
URL = "https://www.bls.gov/web/metro/laummtrk.htm"

#Use pandas function to pull in data from URL into table

df = pd.read_html(URL)


#Convert the list into a dataframe
df = df[0]

df = df[2:]

df['Metropolitan area'] = df['Metropolitan area'].str.rstrip(' Metropolitan Statistical Area')
df

,Metropolitan area,June 2020(p)rate,Rank
2,"Logan, UT-ID",3.5,1
3,"Idaho Falls, ID",3.6,2
4,"Lexington-Fayette, KY",4.2,3
5,"Owensboro, KY",4.2,3
6,"Provo-Orem, UT",4.3,5
...,...,...,...
389,"El Centro, C",27.3,388
390,"Atlantic City-Hammonton, NJ",34.3,389
391,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...
392,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...
393,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,"Unemployment Rates for Metropolitan Areas, Not...",NaN

In [24]:
locator = Nominatim(user_agent= 'Andrew')

In [25]:
# 1 - conveneint function to delay between geocoding calls
geocode = locator.geocode

# 1- - create location column
df['location'] = df['Metropolitan area'].apply(geocode)

In [26]:
# 2 - create longitude, latitude and altitude from location column (returns tuple)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

df.tail(25)

,Metropolitan area,June 2020(p)rate,Rank,location,point
369,"Orlando-Kissimmee-Sanford, FL",16.5,368,None,None
370,"Vineland-Bridgeton, NJ",16.7,369,"(Vineland Branch, Nichols Street, Bridgeton Ju...","(39.438535, -75.232113, 0.0)"
371,"Kokomo, IN",16.8,370,"(Kokomo, Howard County, Indiana, United States...","(40.4864444, -86.1336351, 0.0)"
372,"Boston-Cambridge-Nashua, MA-NH Metropolitan NECT",16.9,371,None,None
373,"New York-Newark-Jersey City, NY-NJ-P",17.0,372,None,None
374,"Springfield, MA-CT Metropolitan NECT",17.0,372,None,None
375,"Visalia-Porterville, C",17.2,374,"(Porterville-Orosi District, East Kings Canyon...","(36.7201581, -119.4519691, 0.0)"
376,"Bakersfield, C",17.5,375,"(Bakersfield, Kern County, California, United ...","(35.3738712, -119.0194639, 0.0)"
377,"Pittsfield, MA Metropolitan NECT",17.5,375,None,None
378,"Muskegon, MI",17.6,377,"(Muskegon, Muskegon County, Michigan, United S...","(43.2341813, -86.2483921, 0.0)"
379,"Detroit-Warren-Dearborn, MI",17.8,378,"(Detroit Boulevard, Westacres, West Bloomfield...","(42.579425, -83.438718, 0.0)"
380,"East Stroudsburg, P",17.9,379,"(East Stroudsburg, Monroe County, Pennsylvania...","(40.9995386, -75.1812913, 0.0)"
381,"Las Vegas-Henderson-Paradise, NV",18.0,380,"(Enterprise, Southern Highlands, Clark County,...","(36.0028345, -115.20129908882386, 0.0)"
382,"Los Angeles-Long Beach-Anaheim, C",18.1,381,None,None
383,"Barnstable Town, MA Metropolitan NECT",18.5,382,None,None
384,"Leominster-Gardner, MA Metropolitan NECT",18.7,383,None,None
385,"Ocean City, NJ",20.0,384,"(Ocean City, Cape May County, New Jersey, Unit...","(39.2776156, -74.5746001, 0.0)"
386,"New Bedford, MA Metropolitan NECT",21.0,385,None,None
387,"Yuma, AZ",21.8,386,"(Yuma, Yuma County, Arizona, 85364, United Sta...","(32.6926588, -114.6276157, 0.0)"
388,"Kahului-Wailuku-Lahaina, HI",22.6,387,None,None
389,"El Centro, C",27.3,388,"(Centro, Medina del Campo, Castilla y LeÃ³n, 47...","(41.3070239, -4.914556, 0.0)"
390,"Atlantic City-Hammonton, NJ",34.3,389,"(Atlantic City Expressway, Rosedale, Hammonton...","(39.6294248, -74.8508307, 0.0)"
391,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...,None,None
392,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...,None,None
393,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,"Unemployment Rates for Metropolitan Areas, Not...",NaN,None,None

In [27]:
# 3 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

df

,Metropolitan area,June 2020(p)rate,Rank,location,point,latitude,longitude,altitude
2,"Logan, UT-ID",3.5,1,"(Logan, Jalan Lumban Nangka, Tuk Tuk, Samosir,...","(2.6732495, 98.8489885, 0.0)",2.673249,98.848989,0.0
3,"Idaho Falls, ID",3.6,2,"(Idaho Falls, Bonneville County, Idaho, United...","(43.4935245, -112.0400919, 0.0)",43.493524,-112.040092,0.0
4,"Lexington-Fayette, KY",4.2,3,"(Lexington, Fayette County, Kentucky, United S...","(38.0464066, -84.4970393, 0.0)",38.046407,-84.497039,0.0
5,"Owensboro, KY",4.2,3,"(Owensboro, Daviess County, Kentucky, United S...","(37.7742152, -87.1133304, 0.0)",37.774215,-87.113330,0.0
6,"Provo-Orem, UT",4.3,5,"(Provo River, Wasatch County, Utah, 84049, Uni...","(40.5360417, -111.4422389, 0.0)",40.536042,-111.442239,0.0
...,...,...,...,...,...,...,...,...
389,"El Centro, C",27.3,388,"(Centro, Medina del Campo, Castilla y LeÃ³n, 47...","(41.3070239, -4.914556, 0.0)",41.307024,-4.914556,0.0
390,"Atlantic City-Hammonton, NJ",34.3,389,"(Atlantic City Expressway, Rosedale, Hammonton...","(39.6294248, -74.8508307, 0.0)",39.629425,-74.850831,0.0
391,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...,Footnotes (p) Preliminary (1) Area boundarie...,None,None,NaN,NaN,NaN
392,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...,None,None,NaN,NaN,NaN
393,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,"Unemployment Rates for Metropolitan Areas, Not...",NaN,None,None,NaN,NaN,NaN

In [28]:
#Save the csv, Export and then procede to import file into Tableau

df.to_csv('Best_Moves.csv')